# Graham Data Observation and Manipulation

These steps will observe how one can take a data set with unwanted duplicates of information, and trim that data down to a more clean looking display. Follow along as columns are removed from the data set to reduce repitition within our data.

## Before Starting:

Before delving into the actual programming piece, you must upload your data such that it is a file accesible by Jupiter Launch, and you can see it in your sidebar to the left of your new notebook. 

This can be accomplished by downloading your csv data file to a recognizable folder within your downloads general folder. Open this folder such that all desired files are listed on your screen in the margins. Pandas and Python will pull from the files in these margins as you code them into your new notebook.

## Programming:

In order to play around with your data, you need to import the programming that you will use that will allow you to make any changes.

1) To import Pandas, the programming with algorithms to store data in tabular data frames, use the command "import pandas as pd" 

Python will understand to import the Pandas program with the word, "import", and the word "as" will help to abridge abreviate "pandas" in a function to "pd".

2) To import Numpy, the complementary coding that helps pandas with functions that are math based, use the command "import numpy as np"

Python will understand to import the Numpy program with the word, "import", and the word "as" will help to shorten "numpy" to the letters "np" to make writing out functions more simple.

In [4]:
import numpy as np
import pandas as pd

Next let's bring in the data set we wish to manipulate. To do so, we must organize a data frame that can read the specific file in your sidebar you wish to call into programming. 

- "df" establishes that you are coding a new data frame. "=pd" means you wish to use bring out the program pandas as we just previously established in the prior cell. 

1) Combine both these components followed by read_csv("_") such that the new cell reads as, df=pd.read_csv("(filename)")

For the purpose of this example, the file we wish to import is titled, "CarolinaPmDataUTF_8.csv"

In [ ]:
df=pd.read_csv("CarolinaPMDataUTF_8.csv")

## Understanding Components of Your Data Set

It is important to understand the components of our data set. We know that there exists some dupplicates of column data, so let's import a function that will help us visualize the repeats we expect to manipulate. 

- "dtypes" is a function pandas uses to address the titles of the column data, and the type of data within each column. 

1) Still in the coding cell type, write "df.dtypes", and this should bring up a list of all your column titles

(If there are repeats in titles, we will find functions to remove them from the data file.)

In [5]:
df.dtypes

State                                    object
State Code                              float64
Year                                    float64
Year Code                               float64
Fine Particulate Matter (µg/m≥)         float64
Fine Particulate Matter (µg/m≥) Code    float64
Avg Fine Particulate Matter (µg/m≥)     float64
dtype: object

- "float64" is notation that python uses to say in this column there exists a wide range of dynamic numeric values (64 represents the amount of bits of computer memory used)

- The columns with "code" included in the title for this data set are repeat values for another column of data. It would appear in the original data set "code" was used as some way to establish the data in another column, or as a function to help some other programmer read the data. Either way, this column doesn't add significant information, and takes up some space in our data set.

## Manipulating Data Set

To only include the desired column titles, and the data associated with them, we insert a new data frame. This data frame will select our desired columns indicated by titles listed by quotations, and we set a range for how many rows of the data we wish to include. 

Write the function as follows: df[["(column_title)", "(other_column_title)", etc. ]]

   - To designate a range of rows we wish to include, add your desired range as follows: [lower bound: higher bound]
   
   (The programming will likely illustrate the first 5 rows and last 5 rows of a larger data set. The inclusion of rows in between is indicated by the series dots (...) meaning skip whats included in between.)

In [8]:
df[["State", "Year", "Fine Particulate Matter (µg/m≥)", "Avg Fine Particulate Matter (µg/m≥)"]][0:297]

,State,Year,Fine Particulate Matter (µg/m≥),Avg Fine Particulate Matter (µg/m≥)
0,North Carolina,2003.0,3.0,2.88
1,North Carolina,2003.0,4.0,4.00
2,North Carolina,2003.0,5.0,5.02
3,North Carolina,2003.0,6.0,5.95
4,North Carolina,2003.0,7.0,7.02
...,...,...,...,...
292,North Carolina,2011.0,26.0,25.93
293,North Carolina,2011.0,27.0,27.30
294,North Carolina,2011.0,28.0,27.74
295,North Carolina,2011.0,NaN,12.36
296,North Carolina,NaN,NaN,12.97

Now let's take our manipulated data set, and make a recognizable copy of it such that when exporting our data it can be easily moved under a new file title. 

Designate what your new data set will be titled, and qualify your new title by following the title in the cell by an =, the prior data frame used to manipulate your data, and ".copy()" in order for Python to understand you wish to make a copy of your data set. 

Should all appear together as demonstrated below:

In [9]:
Data1 = df[["State", "Year", "Fine Particulate Matter (µg/m≥)", "Avg Fine Particulate Matter (µg/m≥)"][0:297]].copy()

In [14]:
Data1

,State,Year,Fine Particulate Matter (µg/m≥),Avg Fine Particulate Matter (µg/m≥)
0,North Carolina,2003.0,3.0,2.88
1,North Carolina,2003.0,4.0,4.00
2,North Carolina,2003.0,5.0,5.02
3,North Carolina,2003.0,6.0,5.95
4,North Carolina,2003.0,7.0,7.02
...,...,...,...,...
293,North Carolina,2011.0,27.0,27.30
294,North Carolina,2011.0,28.0,27.74
295,North Carolina,2011.0,NaN,12.36
296,North Carolina,NaN,NaN,12.97
297,NaN,NaN,NaN,12.97

Finally, if satisfied with your data's new appearance, we will export the data under a new csv file. 

In this final cell, we use the "to_csv" for python to recognize we desire to create a csv file of our data. 

We need to add a delimiter to our data though because in the process of manipulation Pandas created a new column of indices unrelated to our data set. To remove this random column of indices, use the function "index=false". This should entirely remove pandas's column, if not an error will be produced to communicate that the data frame couldn't be read. 

All together, the final cell should be written as follows, where "Data1" is in place of the new title of your data copy.

In [10]:
Data1.to_csv("Data1.csv", index=False)